# Excel Basics

1.The difference between relative,absolute and mixed cell references are given below -

 **Relative references** (e.g., A1) change based on the new cell's position. **Absolute references** (e.g., $A$1) are fixed and never change. **Mixed references** (e.g., $A1 or A$1) fix either the column or the row, but not both.

 2. The price of the Car is 500,000 and the price of the Bicycle is 10,500 according to the given data set.

The formula in Excel entails adding the values in each cell to determine the total sales of just the car and bicycle.  The formula would be as follows, assuming that "Price" is in column B and that the values begin in row 2 (car in B2, bicycle in B3, auto-rickshaw in B4),

Total sales = B2 + B3 or =Sum(B2:B3)

Alternatively, using the actual numerical values:

total sales = 500,000 + 10,500
            = 510,500

3. Formula to calculate the average sales of items priced above 100 but less than 300 from the given dataset -

=AVERAGEIFS(C2:C4,B2:B4,">100",B2:B4,"<300")

Assume the data is in an Excel sheet starting from the cell A1.The goal is to average the values in the sales column (C) where the Price (B) is greater than 100 and less than 300.

4. 50 customer's names are recorded.

Formula =COUNTA(B2:B51)

5.  The Total Sales for each row using a formula -

formula - =E2*F2 and then dragging it to the down

6. The total sales of Notebooks in the North region only -

Formula =SUMIFS(E:E, D:D, "Notebook", C:C, "North")

The answers to questions 7 and 8 are in the Excel sheet.